/* .mtk1 {
  color: #da70d6;
  text-shadow: 0 0 2px #001716, 0 0 3px #da70d6b8, 0 0 5px #da70d6b8,
    0 0 8px #da70d6b8;
  backface-visibility: hidden;
} */

.mtk1 {
  color: #848bbd;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #a8b5e292, 0 0 5px #a8b5e292,
    0 0 8px #a8b5e292; */
  backface-visibility: hidden;
}

.mtk4 {
  color: #ffffff;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #ffffff9e, 0 0 5px #ffffff9e,
    0 0 8px #ffffff9e; */
  backface-visibility: hidden;
}

.mtk6 {
  color: #ff5bbb;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #e771c6cc, 0 0 5px #e771c6cc,
    0 0 8px #e771c6cc; */
  backface-visibility: hidden;
}

.mtk7 {
  color: #5abaff;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #5abaffb4, 0 0 5px #5abaffb4,
    0 0 8px #5abaffb4; */
  backface-visibility: hidden;
}

.mtk8 {
  color: #ffd755;
  /* text-shadow: 0 0 2px #393a33, 0 0 8px #ffa600b3, 0 0 2px #ffa600b3,
    0 0 8px #ffa600b3; */
  backface-visibility: hidden;
}

.mtk10 {
  color: #36f9f6;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #29b3c5ae, 0 0 5px #29b3c5ae,
    0 0 8px #29b3c5ae; */
  backface-visibility: hidden;
}

.mtk11 {
  color: #35ffdd;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #2ac8aec5, 0 0 5px #2ac8aec5,
    0 0 8px #2ac8aec5; */
  backface-visibility: hidden;
}

.mtk12 {
  color: #ff6200;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #bf4900c8, 0 0 5px #bf4900c8,
    0 0 8px #bf4900c8; */
  backface-visibility: hidden;
}

.mtk13 {
  color: #36f9f6;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #29b3c5b6, 0 0 5px #29b3c5b6,
    0 0 8px #29b3c5b6; */
  backface-visibility: hidden;
}

.mtk14 {
  color: #ffffffed;
  /* text-shadow: 0 0 2px #001716, 0 0 3px #ffffffb7, 0 0 5px #ffffffb7,
    0 0 8px #ffffffb7; */
  backface-visibility: hidden;
}
